<form [formGroup]="formGroup">
  <div *ngIf="formType == 'modify'" class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Id</mat-label>
      <input
       matInput
       type="text"
       [value]="fieldValues.id"
       formControlName="id"
      />
      <button
      type="button"
      matSuffix
      mat-icon-button
      (click)="searchCustomerById()"
    >
      <span class="material-symbols-outlined search-icon">
        search
      </span>
    </button>
    </mat-form-field>
  </div>

  <div class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input
       matInput
       type="text"
       [value]="fieldValues.name"
       formControlName="name"
      />
    </mat-form-field>
  </div>

  <div class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Apelido</mat-label>
      <input
       matInput
       type="text"
       [value]="fieldValues.nickname"
       formControlName="nickname"
      />
    </mat-form-field>
  </div>

  <div class="form-field-container form-field-horizontal-container">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input
         matInput
         type="text"
         [value]="fieldValues.cpf"
         inputmode="numeric"
         mask="000.000.000-00"
         maxlength="14"
         formControlName="cpf"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Telefone</mat-label>
        <input
         matInput
         type="tel"
         [value]="fieldValues.phone"
         mask="(00) 00000-0000"
         maxlength="15"
         formControlName="phone"
         />
      </mat-form-field>
  </div>

  <div class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Endereço</mat-label>
      <input
       matInput
       type="text"
       [value]="fieldValues.address"
       formControlName="address"
      />
    </mat-form-field>
  </div>

  <div *ngIf="formType == 'modify'" class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Data de cadastro</mat-label>
      <input
       matInput
       type="text"
       [value]="fieldValues.createdAt"
       formControlName="createdAt"
      />
    </mat-form-field>
  </div>
  <div class="form-footer" [ngSwitch]="formType">
    <app-footer-register-resource-form
      (onSave)="onSave()"
      *ngSwitchCase="'register'"
    />
    <app-footer-modify-resource-form
      (onUpdate)="onUpdate()"
      (onDelete)="onDelete()"
      *ngSwitchCase="'modify'"
     />
  </div>
</form>
