:host > div {
  padding: 20px;
}

.errorMessageContainer {
  display: block;
  padding: 5px;
  width: 100%;
  background-color: #f00a;
  color: #fff;
  font-size: .8rem;
  font-weight: bold;
  border-radius: 6px;
  padding-left: 15px;
}

.actions {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

.small-form-field {
  flex-shrink: 2;
}

.bigger-form-field {
  flex-shrink: 1.5;
}
