<form [formGroup]="formGroup" class="form-save-product">
  <div *ngIf="!isRegisterForm" class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Id</mat-label>
      <input
        matInput
        type="text"
        placeholder="ex: 1580232c-e8d5-4de2-bf1c-7d5ffc2c2ecb"
        formControlName="id"
        [value]="fieldValues.id"
      />
    </mat-form-field>
  </div>

  <div class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input
        matInput
        type="text"
        placeholder="ex: Calça Jeans Fem"
        formControlName="name"
        [value]="fieldValues.name"
      />
    </mat-form-field>
  </div>

  <div class="form-field-container form-field-horizontal-container">
    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <input
        matInput
        type="number"
        placeholder="ex: 99.99"
        formControlName="price"
        [value]="fieldValues.price"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quantidade em estoque</mat-label>
      <input
        matInput
        type="number"
        placeholder="ex: 10"
        formControlName="stockQuantity"
        [value]="fieldValues.stockQuantity"
      />
    </mat-form-field>
  </div>

  <div *ngIf="!isRegisterForm" class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Data de cadastro</mat-label>
      <input
        matInput
        type="text"
        readonly
        formControlName="createdAt"
        [value]="fieldValues.createdAt"
      />
    </mat-form-field>
  </div>

  <div class="form-submit-field">
    <button (click)="onDelete()" *ngIf="!isRegisterForm" mat-raised-button class="delete-button" color="warn">
      Deletar
    </button>
    <button
      (click)="isRegisterForm ? onSave() : onUpdate()"
      mat-raised-button
      class="submit-button"
      [ngStyle]="{'background-color': isRegisterForm ? '#090' : '#f80'}"
    >
      {{ isRegisterForm ? "Cadastrar" : "Atualizar" }}
    </button>
  </div>
</form>
