<form [formGroup]="formGroup" class="form-save-product">
  <div class="form-field-container form-field-horizontal-container">
    <mat-form-field appearance="outline" *ngIf="formType == 'modify'">
      <mat-label>Id</mat-label>
      <input
        matInput
        type="text"
        placeholder="ex: 4344"
        formControlName="id"
        [value]="fieldValues.id"
      />
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="searchProductById()"
      >
        <span class="material-symbols-outlined icon">
          search
        </span>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ref</mat-label>
      <input
        matInput
        type="number"
        placeholder="ex: 77858482834"
        formControlName="ref"
        [value]="fieldValues.ref"
      />
    </mat-form-field>
  </div>

  <div class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input
        matInput
        type="text"
        placeholder="ex: Calça Jeans Fem"
        formControlName="name"
        [value]="fieldValues.name"
      />
    </mat-form-field>
  </div>

  <div class="form-field-container form-field-horizontal-container">
    <mat-form-field appearance="outline">
      <mat-label>Preço</mat-label>
      <input
        matInput
        type="number"
        placeholder="ex: 99.99"
        formControlName="price"
        [value]="fieldValues.price"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Quantidade em estoque</mat-label>
      <input
        matInput
        type="number"
        placeholder="ex: 10"
        formControlName="stockQuantity"
        [value]="fieldValues.stockQuantity"
      />
    </mat-form-field>
  </div>

  <div *ngIf="formType == 'modify'" class="form-field-container">
    <mat-form-field appearance="outline">
      <mat-label>Data de cadastro</mat-label>
      <input
        readonly
        matInput
        type="text"
        readonly
        formControlName="createdAt"
        [value]="fieldValues.createdAt"
      />
    </mat-form-field>
  </div>

  <div class="form-footer" [ngSwitch]="formType">
    <app-footer-register-resource-form
      (onSave)="onSave()"
      *ngSwitchCase="'register'"
    >
    </app-footer-register-resource-form>
    <app-footer-modify-resource-form
      (onDelete)="onDelete()"
      (onUpdate)="onUpdate()"
      *ngSwitchCase="'modify'"
    >
    </app-footer-modify-resource-form>
  </div>
</form>
