<mat-tab-group>
  <mat-tab label="Realizar Venda">
    <section class="tab-content">
      <div class="sale-resources-container">
        <app-products-sold-table-list
          [(productsList)]="productsList"
        />
        <app-installments-table-list
          *ngIf="saleInfo && productsList.length > 0"
          [totalPayable]="saleInfo.totalPayable"
          [(installmentsList)]="installmentsList"
          (customerChange)="onCustomerChange($event)"
        />
      </div>
      <app-sale-info
        *ngIf="productsList.length > 0"
        [(saleInfo)]="saleInfo"
        [productsList]="productsList"
        (finishSaleEvent)="onFinishSale()"
      />
    </section>
  </mat-tab>
</mat-tab-group>
