html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.icon {
  color: #111;
}

#green-button {
  background-color: #090;
  color: #fff;
}

#orange-button {
  background-color: #f80;
  color: #fff;
}

#search-button {
  background-color: rgb(44, 155, 44);
  color: #fff;
}
